@import "tailwindcss";
body {
  color: white;
  background-color: #020121;
}
.ant-steps-item-title {
  font-size: 0.8rem !important;
  color: white !important;
}
.ant-steps-item-icon {
  background-color: rgba(255, 166, 0, 0.525) !important;
}
aside {
  border: 1 solid rgb(82, 82, 82);
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
}
.version {
  border: 1 solid rgb(82, 82, 82);
}
header {
  border: 1 solid rgb(82, 82, 82);
  border-left: 0;
  border-right: 0;
}

button {
  margin-inline: 2px;
}
main {
  background: rgba(2, 1, 33, 0.84) 83%;
  /* background: radial-gradient(
    circle,
    rgba(148, 79, 0, 0.75) 0%,
    rgba(2, 1, 33, 0.84) 83%,
    rgba(2, 1, 33, 1) 100%
  ); */
}

section {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;

  background: #8d4c01;
  background: radial-gradient(
    circle,
    rgb(154, 82, 1) 0%,
    rgba(33, 20, 1, 0.84) 83%,
    rgba(2, 1, 33, 1) 100%
  );
}

.ant-table-pagination {
  position: sticky;
  bottom: 0;
  background: white;
  z-index: 10;
  margin: 0 !important;
  padding: 12px 16px;
  border-top: 1px solid #f0f0f0;
}
/* put this at the bottom of globals.css */

.ant-app,
.ant-app *,
.ant-form,
.ant-form *,
.ant-input,
.ant-input-affix-wrapper,
.ant-btn,
.ant-select,
.ant-select *,
.ant-table,
.ant-table * {
  font-family: var(--font-yekan) !important;
}

.ant-table,
.ant-table *,
.ant-table-wrapper,
.ant-table-wrapper *,
.ant-table-container,
.ant-table-container *,
.ant-table-cell,
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  font-family: var(--font-yekan) !important;
}
